<!DOCTYPE html>
<html lang="en" style="background-color: #10131A;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dolphin</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/s/fp6wjqm9aw3bvs7/import.css?dl=0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
</head>

<body id="chatbody" style="background-color: #10131A;">
    <div id="app" style="background-color: #10131A;">
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation" style="background-color: #10131A;">
            <div id="navbar" class="navbar-menu">
                <div class="navbar-start">

                </div>

                <a class="navbar-item" id="profile">
                    <strong>{{ username }}</strong>
                    <a class="image is-64x64" style="padding: 5px;vertical-align:middle">
                        <img class=" is-rounded" src="https://cdn.discordapp.com/attachments/508114031475949593/517487421236183050/avatar.png">
                    </a>
                </a>
            </div>
        </nav>
        <div class="modal is-active" id="loading_modal">
            <div class="modal-background" style="background-color: #10131A;">
                <img src="https://i.imgur.com/8TkEmzy.png" style="margin: auto;" alt="">
            </div>
            <div class="modal-content has-text-centered">
                <h1 class="title" style="overflow: hidden;">Loading</h1>
                <img src="http://i.imgur.com/4aeVMkx.gif" alt="">
            </div>
        </div>
        <div class="modal" id="profile_modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="card" style="flex-direction: column;">
                    <div class="card-content">
                        <div class="media">
                            <div class="content">
                                <div class="container is-fluid has-text-centered">
                                    <strong>{{ username }}</strong>
                                    <a class="image is-128x128" style="padding: 5px;vertical-align:middle">
                                        <img class=" is-rounded" src="https://cdn.discordapp.com/attachments/508114031475949593/517487421236183050/avatar.png">
                                    </a>
                                </div>
                            </div>
                            <button id="profile_modal_close" class="modal-close is-large" aria-label="close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container is-fluid" style="padding: 10px;">
            <article class="media" v-for="">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img class="is-rounded" src="https://cdn.discordapp.com/attachments/508114031475949593/517487421236183050/avatar.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>breaddog</strong>
                            <br>
                            shiba inus are gud dogs.
                        </p>
                    </div>
                </div>
                <div class="media-right">
                    <div class="dropdown is-right">
                        <div class="dropdown-trigger">
                            <button class="button is-rounded" aria-haspopup="true" style="background-color: #171a20;color: #f7f7f7; border-color: #212733" aria-controls="dropdown-menu">
                                <span class="icon is-small">
                                    <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <!-- <a class="dropdown-item">
                                    Star
                                </a> -->
                                <a class="dropdown-item" style="color: #fff;transition: all 200ms ease;">
                                    Edit
                                </a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" style="color: #e74c3c; transition: all 200ms ease;" id="deletemsg">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <hr>
        </div>
        <section class="section" style="  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;background-color: #10131A;">
            <div class="container">
                <textarea class="textarea has-fixed-size" style="background-color: #171a20;color: #f7f7f7; border-color: #212733" id="input_message" name="name" rows="1" cols="80"></textarea>
            </div>
        </section>
    </div>
    <script src="/js/chat.js" async></script>
</body>

</html>